
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #03e9f4;
    outline: none;
    background: rgb(8, 14, 20);
    /* border-radius: 10px 10px 0 0; */
  }
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    padding-left:10px;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -30px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 10px;
    letter-spacing: 4px;
    border: 1px solid #03e9f4;
  }
  

  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .error1 {
    font-size: 20px;
    color: red;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width:400px;
  }
  .error2 {
    font-size: 20px;
    color: red;
    line-height: 48px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width:400px;
  }
  .error3 {
    font-size: 20px;
    color: red;
    line-height: 48px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width:400px;
  }